.Cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #fff , #fff1f2);
}

.Cart > .top{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 70%;
    margin-bottom: 2.5rem;
    padding-top: 7.5rem;
}

.Cart > .top > a{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #4b5563;
    font-weight: 600;
    cursor: pointer;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .top > a > svg{
    width: 1.25rem;
    height: 1.25rem;
}

.Cart > .orders{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 2.5rem;
}

.Cart > .orders > header{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.Cart > .orders > header > div{
    display: flex;
    align-items: center;
        gap: 0.75rem;
}

.Cart > .orders > header > div > svg{
    color: #f43f5e;
    height: 2.5rem;
    width: 2.5rem;
}

.Cart > .orders > header > div > h1{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #1f2937;
}

.Cart > .orders > header > span{
    color: #4b5563;
    margin-top: .5rem;
}

.Cart > .orders > div{
    display: flex;
    align-items: start;
    gap: 2rem;
}

.Cart > .orders > div > .left{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.Cart > .orders > div > .left > .item{
    display: flex;
    align-items: center;
    flex: 1;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 1rem;
    border-radius: 1rem;
    border: solid 2px #fce7f3;
    gap: 1rem;
}

.Cart > .orders > div > .left > .item > img{
    height: 7rem;
    aspect-ratio: 1 / 1;
    border-radius: 0.75rem;
    flex-shrink: 0;
}

.Cart > .orders > div > .left > .item > div{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.Cart > .orders > div > .left > .item > div > .data{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    flex: 1;
}

.Cart > .orders > div > .left > .item > div > .data > .aditional{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 1rem;
    gap: .25rem;
}

.Cart > .orders > div > .left > .item > div > .data > .aditional > h3{
    color: #1f2937;
    font-size: 1rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .orders > div > .left > .item > div > .data > .aditional > div{
    display: flex;
    flex-direction: column;
}

.Cart > .orders > div > .left > .item > div > .data > .aditional > div > img{
    height: 7rem;
    max-width: 10rem;
    object-fit: contain;
    margin-top: 1rem;
}

.Cart > .orders > div > .left > .item > div > .data > .aditional > div > p{
    display: flex;
    align-items: center;
    color: #1f2937;
    font-size: .9rem;
    gap: .5rem;
}

.Cart > .orders > div > .left > .item > div > .data > .aditional > div > p > span{
    color: #4b5563;
}

.Cart > .orders > div > .left > .item > div > .data > h3{
    color: #1f2937;
    margin-bottom: 0.25rem;
    font-weight: 800;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .orders > div > .left > .item > div > .data > p{
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #4b5563;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .orders > div > .left > .item > div > .data > div{
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 0.5rem;
}

.Cart > .orders > div > .left > .item > div > .data > div > button{
    background-color: #fae4e86e;
    border-radius: 9999px;
    width: 2rem;
    height: 2rem;
    line-height: 1;
    font-weight: 400;
    font-size: 1.3rem;
    padding-bottom: .2rem;
    color: #f43f5e;
    cursor: pointer;
    border: none;
}

.Cart > .orders > div > .left > .item > div > .data > div > span{
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #1f2937;
    font-weight: 700;
    width: 3rem;
    text-align: center;
}

.Cart > .orders > div > .left > .item > div > .actions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
}

.Cart > .orders > div > .left > .item > div > .actions > span{
    color: #1f2937;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .orders > div > .left > .item > div > .actions > .delete{
    cursor: pointer;
}

.Cart > .orders > div > .left > .item > div > .actions > .delete > svg{
    color: #f87171;
    width: 1.25rem;
    height: 1.25rem;
}

.Cart > .orders > div > .right{
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    top: 6rem;
    position: sticky;
}

.Cart > .orders > div > .right > .summary{
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding: 1.5rem;
    background-color: white;
    border: solid 2px #fbcfe8;
    width: calc(100% - 3rem);
    border-radius: 1.5rem;
}

.Cart > .orders > div > .right > .summary > .gift{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    cursor: pointer;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
    border: solid 2px #fecdd3;
    background: linear-gradient(to bottom right, #fff1f2 , #fdf2f8);
}

.Cart > .orders > div > .right > .summary > .gift > section{
    border-radius: 0.25rem;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border:solid 1px #fb7185;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.Cart > .orders > div > .right > .summary > .gift > section > svg{
    color: white;
    width: 1rem;
    background-color: #f43f5e;
    height: 1rem;
}

.Cart > .orders > div > .right > .summary > .gift > svg{
    color: #f43f5e;
    width: 1.25rem;
    height: 1.25rem;
}

.Cart > .orders > div > .right > .summary > .gift > div{
    display: flex;
    flex-direction: column;
}

.Cart > .orders > div > .right > .summary > .gift > div > p{
    color: #111827;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.Cart > .orders > div > .right > .summary > .gift > div > span{
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #4b5563;
    font-size: 0.85rem;
    line-height: 1rem;
}

.Cart > .orders > div > .right > .summary > h2{
    color: #1f2937;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .orders > div > .right > .summary > .freeShipping{
    display: flex;
    align-items: center;
    padding: .5rem .75rem;
    background-color: #fdf2f8;
    border: solid 1px #fbcfe8;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.Cart > .orders > div > .right > .summary > .freeShipping > span{
    color: #db2777;
    font-size: 0.75rem;
    line-height: 1rem;
}

.Cart > .orders > div > .right > .summary > .normal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4b5563;
    margin-bottom: 1rem;
}

.Cart > .orders > div > .right > .summary > .normal > span{
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .orders > div > .right > .summary > .normal > p{
    font-weight: 600;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .orders > div > .right > .summary > .line{
    margin-bottom: .75rem;
    height: 1px;
    background: linear-gradient(to right, transparent , #f9a8d4 , transparent);
}

.Cart > .orders > div > .right > .summary > .total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1f2937;
    margin-bottom: 1.5rem;
}

.Cart > .orders > div > .right > .summary > .total > span{
    font-size: 1.125rem;
    line-height: 1.75rem;
    
}

.Cart > .orders > div > .right > .summary > .total > p{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .orders > div > .right > .summary > button{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 1rem 0;
    border-radius: 9999px;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #f43f5e , #ec4899);
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .orders > div > .right > .summary > button:disabled{
    cursor:auto;
    background: linear-gradient(to right, #f38295 , #eea0c7);
}

.Cart > .orders > div > .right > .summary > button > svg{
    width: 1.25rem;
    height: 1.25rem;
}

.Cart > .orders > div > .right > .summary > span{
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 1rem;
    color: #6b7280;
    text-align: center;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif; 
}

.Cart > .tracking{
    margin: 2rem 0;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 1.5rem;
    background: linear-gradient(to bottom right, #eef2ff , #faf5ff);
    border: solid 1px #e0e7ff;
    border-radius: 1rem;
    width: 80rem;
    margin-bottom: 5rem;
}

.Cart > .tracking > header{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.Cart > .tracking > header > svg{
    color: #4f46e5;
    width: 1.5rem;
    height: 1.5rem;
}

.Cart > .tracking > header > h3{
    color: #111827;
    font-weight: 700;
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
    line-height: 1.75rem;
}

.Cart > .tracking > p{
    color: #4b5563;
    margin-bottom: 1rem;
}

.Cart > .tracking > div{
    gap: 0.75rem;
    display: flex;
    align-items: center;
}

.Cart > .tracking > div > input{
    font-size: 0.875rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    padding: .25rem .75rem;
    line-height: 1.25rem;
    background-color: transparent;
    color: #111827;
    border: solid 2px #c7d2fe;
    flex: 1;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    outline: none;
    border-radius: 0.75rem;
}

.Cart > .tracking > div > button{
    height: 2.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: .5rem 2rem;
    font-weight: 500;
    color: white;
    gap: .5rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: .75rem;
    background: linear-gradient(to right, #6366f1 , #9333ea);
}

.Cart > .tracking > div > button > svg{
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.Cart > .tracking > .found{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:solid 1px #c7d2fe;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.Cart > .tracking > .found > div{
    background-color: white;
    flex: 1;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.Cart > .tracking > .found > div > header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.Cart > .tracking > .found > div > header > div{
    display: flex;
    flex-direction: column;
}

.Cart > .tracking > .found > div > header > div > p{
    color: #111827;
    font-size: 1.125rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.75rem;
    font-weight: 700;
    margin-bottom: .25rem;
}

.Cart > .tracking > .found > div > header > div > span{
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #4b5563;
}

.Cart > .tracking > .found > div > header > p{
    color: #15803d;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    padding: .5rem 1rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #dcfce7;
    border-radius: 9999px;
}

.Cart > .tracking > .found > div > div{
    display: flex;
    flex-direction: column;
}

.Cart > .tracking > .found > div > div > div{
    gap: 1rem;
    display: flex;
    align-items: start;
    padding-bottom: 1.5rem;
}

.Cart > .tracking > .found > div > div > div > .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22c55e;
    border-radius: 9999px;
    width: 2.5rem;
    flex-shrink: 0;
    height: 2.5rem;
}

.Cart > .tracking > .found > div > div > div > .icon > svg{
    color: white;
    width: 1.5rem;
    height: 1.5rem;
}

.Cart .disabled > .icon{
    background-color: #e5e7eb!important;
}

.Cart .disabled .icon > svg{
    color: #9ca3af!important;
}

.Cart > .tracking > .found > div > div > div > .data{
    display: flex;
    flex-direction: column;
}

.Cart > .tracking > .found > div > div > div > .data > h3{
    color: #111827;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    margin-bottom: .25rem;
    font-weight: 700;
}

.Cart > .tracking > .found > div > div > div > .data > p{
    color: #4b5563;
    margin-bottom: .25rem;
    font-size: 0.875rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.25rem;
}

.Cart > .tracking > .found > div > div > div > .data > span{
    color: #6b7280;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
}

.Cart .disabled .data > h3{
    color: #9ca3af!important;
}

.Cart .disabled .data > p{
    color: #9ca3af!important;
}

.Cart .disabled .data > span{
    color: #9ca3af!important;
}

.Cart > .tracking > .found > div > footer{
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: #eef2ff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.Cart > .tracking > .found > div > footer > span{
    color: #374151;
    font-size: 0.875rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.Cart > .tracking > .found > div > footer > span > strong{
    font-weight: 700;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .tracking > .no-found{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:solid 1px #c7d2fe;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.Cart > .tracking > .no-found > div{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.Cart > .tracking > .no-found > div > .icon{
    background-color: #fee2e2;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    flex-shrink: 0;
}

.Cart > .tracking > .no-found > div > .icon > svg{
    color: #ef4444;
    width: 2.5rem;
    height: 2.5rem;
}

.Cart > .tracking > .no-found > div > h2{
    color: #111827;
    font-weight: 700;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    margin-bottom: .5rem;
}

.Cart > .tracking > .no-found > div > p{
    color: #4b5563;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .tracking > .no-found > div > p > strong{
    color:#dc2626;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 700;
}

.Cart > .tracking > .no-found > div > span{
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Cart > .tracking > .no-found > div > span > a{
    color:#dc2626;
    font-weight: 600;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

@media (max-width: 768px) {
    .Cart > .top{
        width: 85%;
    }
    
    .Cart > .orders{
        width: 85%;
    }

    .Cart > .orders > div{
        flex-direction: column;
    }

    .Cart > .orders > div > .left{
        width: 100%;
    }

    .Cart > .orders > div > .right{
        width: 100%;
    }

    .Cart > .orders > div > .left > .item{
        flex-direction: column;
    }

    .Cart > .orders > div > .left > .item > div{
        width: 100%;
        flex-direction: column;
    }

    .Cart > .orders > div > .left > .item > div > .actions{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .Cart > .tracking{
        width: calc(85% - 3rem);
    }

    .Cart > .tracking > div{
        flex-direction: column;
    }

    .Cart > .tracking > div > input{
        width: calc(100% - (4px + 1.5rem));
    }

    .Cart > .tracking > div > button{
        width: 100%;
        padding: .5rem 1rem;
        justify-content: center;
    }

    .Cart > .tracking > .found > div{
        padding: 1rem 1.5rem;
        width: calc(100% - 3rem);
    }

    .Cart > .tracking > .found > div > header > p{
        flex-shrink: 0;
    }

    .Cart > .tracking > .found > div > footer > span{
        flex-shrink: 0;
        flex-direction: column;
        align-items: start;
        white-space: nowrap;    
        overflow: hidden;           
        text-overflow: ellipsis;    
        max-width: 100%; 
    }
}