.Success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #ffe4e6 , #fdf2f8 , #fff);
}

.Success > .contain{
    display: flex;
    padding: 8rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Success > .contain > .logo{
    border-radius: 9999px;
    display: flex;
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background: linear-gradient(to bottom right, #4ade80 , #22c55e);
}

.Success > .contain > .logo > svg{
    width: 4rem;
    height: 4rem;
    color: white;
}

.Success > .contain > h1{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 800;
    color: #1f2937;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Success > .contain > h3{
    color: #4b5563;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Success > .contain > .info{
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, #fdf2f8 , #faf5ff);
    border: solid 2px #fbcfe8;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.Success > .contain > .info > header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Success > .contain > .info > header > svg{
    color: #ec4899;
    height: 1.5rem;
    width: 1.5rem;
}

.Success > .contain > .info > header > span{
    color: #4b5563;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Success > .contain > .info > h2{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 1.5rem;
}

.Success > .contain > .info > div{
    display: flex;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    flex-direction: column;
    gap: 1rem;
}

.Success > .contain > .info > div > div{
    display: flex;
    gap: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.Success > .contain > .info > div > div > span{
    border-radius: 9999px;
    background-color: #fbcfe8;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    color: #be185d;
    font-size: 0.75rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1rem;
    font-weight: 700;
}

.Success > .contain > .info > div > div > div{
    display: flex;
    flex-direction: column;
}

.Success > .contain > .info > div > div > div > p{
    font-weight: 700;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #1f2937;
}

.Success > .contain > .info > div > div > div > span{
    color: #4b5563;
}

.Success > .contain > .flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Success > .contain > .flex > a{
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #f43f5e , #ec4899);
    gap: 0.5rem;
    border-radius: 9999px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.75rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.Success > .contain > .flex > a > svg{
    width: 1.25rem;
    flex-shrink: 0;
    height: 1.25rem;
}

.Success > .contain > span{
    color: #6b7280;
    text-align: center;
}



@media (max-width: 768px) {
    
    .Success > .contain > .logo{
        width: 4rem;
        height: 4rem;
    }

    .Success > .contain > .logo > svg{
        width: 2rem;
        height: 2rem;
    }
    .Success > .contain > h1{
        text-align: center;
        font-size: 2rem;
    }

    .Success > .contain > h3{
        text-align: center;
        font-size: 1.25rem;
    }

    .Success > .contain{
        width: 85%;
    }

    .Success > .contain > .info{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .Success > .contain > .flex{
        flex-direction: column;
    }

    .Success > .contain > .flex > a{
        font-size: 1rem;
        margin-bottom: .5rem;
    }
}