.CardBox{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 1.5rem;
    border: solid 2px transparent;
    text-decoration: none;
    background-color: white;
}

.CardBox:hover{
    border: solid 2px  #e11d48;
}

.CardBox > .image{
    display: flex;
    position: relative;
    height: 25rem;
    border-radius: 1.5rem 1.5rem 0 0;
    align-items: end;
    justify-content: center;
}

.CardBox > .image > .left{
    position: absolute;
    right: 0.75rem;
    top: .75rem;
    border: solid 1px #fbcfe8;
    background-color: white;
    border-radius: 9999px;
    padding: .25rem .75rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.CardBox > .image > .left > span{
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    color: #374151;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.CardBox > .image > .view{
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: calc(100% - 2rem);
    padding-bottom: 2rem;
    background: linear-gradient(to top, rgb(0 0 0 / 0.5) , transparent);
}

.CardBox > .image > .view > button{
    color: #1f2937;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding: .5rem 1.5rem;
    background-color: white;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    justify-content: center;
    border: none;
}

.CardBox > .image > .view > button > svg{
    width: 1rem;
    height: 1rem;
}

.CardBox:hover > .image > .view{
    opacity: 1;
}

.CardBox > .image > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

.CardBox > .content{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.CardBox > .image > .tag{
    position: absolute;
    top: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: .25rem .75rem;
    border-radius: calc(.5rem - 2px);
    left: 1rem;
    font-weight: 600;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background: linear-gradient(to right, #fbbf24 , #f97316);
    color: white;
}
.CardBox > .image > .tag > span{
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.CardBox > .image > .custom{
    position: absolute;
    display: flex;
    align-items: center;
    gap: .5rem;
    top: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: .25rem .75rem;
    border-radius: calc(.5rem - 2px);
    right: 1rem;
    font-weight: 600;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background: linear-gradient(to right, #6366f1 , #9333ea);
    color: white;
}
.CardBox > .image > .custom > svg{
    height: 0.875rem;
    width: .875rem;
}

.CardBox > .image > .custom > span{
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.CardBox > .content > p{
    color: #1f2937;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.CardBox:hover  > .content > p{
    color: transparent;
    background: linear-gradient(to right, #e11d48 , #ec4899);
    -webkit-background-clip: text;
    background-clip: text;
}

.CardBox > .content > span{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #4b5563;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    margin-bottom: 1rem;
}

.CardBox > .content > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CardBox > .content > div > p{
    color: transparent;
    background: linear-gradient(to right, #e11d48 , #e11d48);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.CardBox > .content > div > span{
    color: #16a34a;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    background-color: #f0fdf4;
    padding: .25rem .75rem;
    border-radius: 9999px;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

@media (max-width: 768px) {
    .CardBox > .image{
        height: 20rem;
    }
}