.CardItem{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #f9fafb , #f3f4f6);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: solid 1px #d1d5db;
    border-radius: 1.5rem;
    position: relative;
}



.CardItem > .struct{
    display: flex;
    flex-direction: column;
    z-index: 10;
    height: 100%;
    border-radius: 1.5rem;
    background-color: white;
}

.CardItem > .struct > .image{
    display: flex;
    height: 25rem;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
}

.CardItem > .struct > .image > img{
    height: 100%;
    width: 100%;
    object-fit: coVER;
    border-radius: 1.5rem;
}


@media (max-width: 768px) {
    .CardItem > .struct > .image{
        height: 20rem;
    }
}