.Nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    width: 80%;
    height: 5rem;
    background-color: #ffffffcc;
    position: fixed;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: solid 1px #fce7f3;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}



.Nav > .logo{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    justify-content: center;
}

.Nav > .logo > p{
    color: transparent;
    font-weight: 700;
    background: linear-gradient(to right, #e11d48 , #ec4899);
    font-size: 1.5rem;
    line-height: 2rem;
    -webkit-background-clip: text;
    background-clip: text;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.Nav > .logo > p > svg{
    color: transparent;
    fill: #e11d48;
}

.Nav > .cart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to right, #e11d48 , #ec4899);
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.Nav > .cart > span{
    position: absolute;
    background-color: #ef4444;
    border-radius: 9999px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    top: -0.25rem;
    right: -0.25rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    height: 1.5rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.Nav > .cart > svg{
    height: 1.25rem;
    width: 1.25rem;
    color: white;
}


@media (max-width: 768px) {
    .Nav{
        height: 3.5rem;
    }

    .Nav > .cart{
        width: 2.5rem;
        height: 2.5rem;
    }

    .Nav > .cart > svg{
        height: 1.1rem;
        width: 1.1rem;
    }

    .Nav > .logo > p > svg{
        height: 1.5rem;
        width: 1.5rem;
    }

    .Nav > .logo > p{
        font-size: 1.25rem;
    }

}