.Contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #ffe4e6 , #fdf2f8 , #fff);
}

.Contacto > .one{
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    align-items: center;
}

.Contacto > .one > .tag{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color: #ffe4e6;
    border-radius: 9999px;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.Contacto > .one > .tag > svg{
    color: #be123c;
    fill: #be123c;
    width: 1rem;
    height: 1rem;
}

.Contacto > .one > .tag > span{
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #be123c;
}

.Contacto > .one > h1{
    align-items: center;
    background: linear-gradient(to right, #e11d48 , #ec4899);
    color: transparent;
    background-clip: text;
    font-family: 'Playfair Display', serif;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.Contacto > .one > p{
    align-items: center;
    text-align: center;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.3rem;
    line-height: 1.75rem;
    max-width: 48rem;
    color: #4b5563;
}

.Contacto > .two{
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 7rem;
}

.Contacto > .two > .card{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 2rem;
    border: solid 1px #ffe4e6;
    background-color: white;
    border-radius: 1rem;
    width: 100%;
}

.Contacto > .two > .card > h2{
    color: #111827;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1.5rem;
}

.Contacto > .two > .card > .flex{
    gap: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.Contacto > .two > .card > .flex > div{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Contacto > .two > .card > .flex > div > p{
    color: #111827;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.Contacto > .two > .card > .flex > div > input{
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    padding: .25rem .75rem;
    border: solid 2px #fecdd3;
    border-radius: 0.75rem;
    background-color: white;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #111827;
    outline: none;
    height: 2.25rem;
}

.Contacto > .two > .card > .col{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.Contacto > .two > .card > .col > p{
    color: #111827;
    font-size: 1rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.Contacto > .two > .card > .col > input{
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    padding: .25rem .75rem;
    border: solid 2px #fecdd3;
    color: #111827;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    outline: none;
    background-color: white;
    border-radius: 0.75rem;
    height: 2.25rem;
}

.Contacto > .two > .card > .col > textarea{
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    padding: .75rem .75rem;
    border: solid 2px #fecdd3;
    height: 10rem;
    border-radius: 0.75rem;
    color: #111827;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    outline: none;
    resize: none;
    background-color: white;
}

.Contacto > .two > .card > button{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    padding: 1.5rem 1rem;
    background: linear-gradient(to right, #f43f5e , #ec4899);
    border-radius: 9999px;
    border: none;
    width: 100%;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    height: 2.25rem;
}

.Contacto > .two > .card > button > svg{
    width: 1rem;
    height: 1rem;
    color: white;
    flex-shrink: 0;
}

.Contacto .error {
    border: 2px solid red !important;
    background-color: #ffe5e5;
}

.Contacto .success-msg {
    margin-bottom: 15px;
    padding: 10px 15px;
    background: #d0ffd6;
    border-left: 5px solid #24c44e;
    font-weight: 500;
    color: #111827;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    border-radius: 5px;
}

@media (max-width: 768px) {

    .Contacto > .one > h1{
        font-size: 2.5rem;
    }

    .Contacto > .one > p{
        font-size: 1rem;
        width: 80%;
    }

    .Contacto > .two{
        width: 90%;
    }

    .Contacto > .two > .card > h2{
        font-size: 1.25rem;
    }

    .Contacto > .two > .card > .flex{
        flex-direction: column;
        gap: 1rem;
    }

    .Contacto > .two > .card > .flex > div{
        width: 100%;
    }
}