.PoliticaDeCookies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #ffe4e6 , #fdf2f8 , #fff);
}

.PoliticaDeCookies > .icon{
    border-radius: 9999px;
    margin-top: 10rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    background: linear-gradient(to bottom right, #fb7185 , #ec4899);
}

.PoliticaDeCookies > .icon > svg{
    width: 2.5rem;
    height: 2.5rem;
    color: white;
}

.PoliticaDeCookies > h1{
    color: #111827;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1rem;
    gap: .75rem;
    display: flex;
    align-items: center;
}

.PoliticaDeCookies > h1 > span{
    background: linear-gradient(to right, #e11d48 , #ec4899);
    color: transparent;
    font-family: 'Playfair Display', serif;
    background-clip: text;
}

.PoliticaDeCookies > p{
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.75rem;
    max-width: 48rem;
    color: #4b5563;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    margin-bottom: 5rem;
}

.PoliticaDeCookies > section{
    width: 50rem;
    margin-bottom: 6rem;
    padding: 2rem;
    border-radius: 1rem;
    border: solid 1px #ffe4e6;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.PoliticaDeCookies > section > header{
    gap: 0.75rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.PoliticaDeCookies > section > header > svg{
    color: #f43f5e;
    width: 1.5rem;
    height: 1.5rem;
}

.PoliticaDeCookies > section > header > h3{
    color: #111827;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.PoliticaDeCookies > section > p{
    color: #4b5563;
    margin-bottom: 1.5rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.PoliticaDeCookies > section > section{
    display: flex;
    flex-direction: column;
    background-color: #fff1f2;
    border-radius: 0.75rem;
    gap: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.PoliticaDeCookies > section > section > p{
    color: #111827;
    font-weight: 700;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.PoliticaDeCookies > section > section > span{
    color: #4b5563;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.PoliticaDeCookies > section > ul{
    color: #4b5563;
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.PoliticaDeCookies > section > ul > li{
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.PoliticaDeCookies > section > ul > li > strong{
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.PoliticaDeCookies > section > p > a{
    color: #e11d48;
    font-weight: 600;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

@media (max-width: 768px) {
    .PoliticaDeCookies > h1{
        font-size: 2.5rem;
    }

    .PoliticaDeCookies > p{
        font-size: 1rem;
        width: 80%;
    }

    .PoliticaDeCookies > section{
        width: calc(90% - 4rem);
    }
}