.PreguntasFrecuentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #ffe4e6 , #fdf2f8 , #fff);
}

.PreguntasFrecuentes > .icon{
    border-radius: 9999px;
    margin-top: 10rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    background: linear-gradient(to bottom right, #fb7185 , #ec4899);
}

.PreguntasFrecuentes > .icon > svg{
    width: 2.5rem;
    height: 2.5rem;
    color: white;
}

.PreguntasFrecuentes > h1{
    color: #111827;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1rem;
    gap: .75rem;
    display: flex;
    align-items: center;
}

.PreguntasFrecuentes > h1 > span{
    background: linear-gradient(to right, #e11d48 , #ec4899);
    color: transparent;
    font-family: 'Playfair Display', serif;
    background-clip: text;
}

.PreguntasFrecuentes > p{
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.75rem;
    max-width: 48rem;
    color: #4b5563;
    margin-bottom: 3rem;
}

.PreguntasFrecuentes > .questions{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 55rem;
    border: solid 1px #ffe4e6;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 1.5rem;
}

.PreguntasFrecuentes > .questions > header{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.PreguntasFrecuentes > .questions > header > svg{
    color: #f43f5e;
    fill: #f43f5e;
    width: 1.5rem;
    height: 1.5rem;
}

.PreguntasFrecuentes > .questions > header > h2{
    color: #111827;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.PreguntasFrecuentes > .questions > div{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-top: solid 1px #ffe4e6;
}

.PreguntasFrecuentes > .questions > div > button{
    display: flex;
    align-items: center;
    color:#111827;
    padding-top: 0.5rem;
    background-color: transparent;
    padding-bottom: 0.5rem;
    font-size: 1.125rem;
    text-align: left;
    cursor: pointer;
    line-height: 1.75rem;
    font-weight: 600;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    border: none;
    justify-content: space-between;
}

.PreguntasFrecuentes > .questions > div > .sel{
    color: #e11d48;
}

.PreguntasFrecuentes > .questions > div > button > svg{
    color: #e11d48;
}

.PreguntasFrecuentes > .questions > div > p{
    color: #4b5563;
    line-height: 1.625;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    padding-top: .75rem;
    padding-bottom: .5rem;
}

.PreguntasFrecuentes > section{
    padding: 2rem 1.5rem;
    background: linear-gradient(to bottom right, #ffe4e6 , #fce7f3);
    border-radius: 1rem;
    margin: 3rem 0;
    width: 55rem;
    text-align: center;
}

.PreguntasFrecuentes > section > svg{
    fill: #f43f5e;
    color: #f43f5e;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.PreguntasFrecuentes > section > h3{
    color: #111827;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    font-family: 'Playfair Display', serif;
}

.PreguntasFrecuentes > section > p{
    margin-bottom: 2rem;
    color: #4b5563;
    font-size: 1.05rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
}

.PreguntasFrecuentes > section > a{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    color: white;
    font-weight: 600;
    border: none;
    text-decoration: none;
    padding: .75rem 2rem;
    font-size: 1.05rem;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(to right, #f43f5e , #ec4899);
    border-radius: 9999px;
}

@media (max-width: 768px) {

    .PreguntasFrecuentes > h1{
        font-size: 2.5rem;
        flex-direction: column;
    }

    .PreguntasFrecuentes > p{
        font-size: 1rem;
        width: 80%;
    }

    .PreguntasFrecuentes > .questions{
        width: calc(90% - 4rem);
    }

    .PreguntasFrecuentes > .questions > header > h2{
        font-size: 1.25rem;
    }

    .PreguntasFrecuentes > .questions > div > button{
        font-size: 1rem;
    }

    .PreguntasFrecuentes > .questions > div > p{
        font-size: .95rem;
    }

    .PreguntasFrecuentes > section{
        width: calc(90% - 4rem);
    }
}